a:link{
    text-decoration: none;
    color:coral;
    
}
a:visited{
    color:aliceblue;
}
a:hover{
    color:black;
}
body{
    
}
header{
    background:brown;
    width: 100%;
    height: 3em;
    
    
}

.topnav{
    display:inline;
    transition: 0.3s;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    
}
ul.topnav li {float: right;}

ul.topnav li.icon {
    display: none;}


ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;

}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}


@media screen and (max-width:680px) {
  ul.topnav.responsive 
    {position: relative;}
    
  ul.topnav.responsive li.icon 
    {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li 
    {
    float: none;
    display: inline;
    
  }
  ul.topnav.responsive li a 
    {
    display: block;
    text-align: left;
    background: brown;
    
    
  }
}

h2{
    font-family: "Nunito", sans-serif;
    text-align: center;
}

.intro-p{
    font-family: 'Libre Baskerville', serif;
    line-height: 1.5em;
    padding-left: .7em;
}

#intro-float{
    float:left;
    width:67%;
}
img.imgMe{
  
    float:right;
    width: 27%;
    position: relative;
    margin-top: 5%;
    
    
    
    
    
  
}

@media all and (max-width:800px)
{
    #intro{
       margin-top: -1.3em;
        
    }
    h2.aboutMe{
        padding: .5em;
    }
}

#intro{
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3em;
    background: #19f;
}
#intro:after{
    content: "";
    display: block;
    clear: both;
}

@media all and (max-width:800px)
{
    #intro-float, #img-float
    {
        display:block;
        float: none;
        width: 97%;
        margin: 3px 0 3px 0;
        
    }
    #img-float{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 2em;
        
    }
}
.h2Header{
    padding: 1em;
}
#projects{
    background: #18f;
    margin-top: -1.1em;
    padding-top: .8em;
    
}
#projects:after{
    content: "";
    display: block;
    clear: both;
}
.will-pen{
    float: left;
    display: inline;
    width: 47%;
    text-align: center;
    
    
}
.form-pen{
    float: right;
    display: inline;
    width: 47%;
    
    text-align: center;
    
}
#img-size{
    width: 80%;
    
}
figcaption{
    text-align: center;
    width:20em;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5em;
    padding: .5em;
    
}
@media all and (max-width:800px)
{
    .will-pen, .form-pen
    {
        display: block;
        float: none;
        text-align: center;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 5%;
              
    }
    
    figcaption
    {
        display: block;
        text-align: center;
        padding: .8em;
        line-height: 1.5em;
        width: 20em;
        margin-left: auto;
        margin-right: auto;
    }
}

#contact{
    background: brown;
    margin-top: -1.3em;
    height: 13em;
}

.social-head{
    padding-top: 1em;
    
}

.social{
    display: inline;
    float: left;
    width: 47%;
    
}

.social1{
    margin-bottom: -.3em;
}

.font-awesome{
    text-align: center;
    
}



.location{
    display: inline;
    float: right;
    width: 47%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    
    
}

@media all and (max-width:800px)
{
    .social, .location, .font-awesome{
        display: block;
        float: none;
        margin-right: auto;
        margin-left: auto;
        width: 97%;
        text-align: center;
        
    
        
        
    }
    #contact{
        height: 199%;
    }
}
